<div class="row">
  <div class="col"></div>
  <div class="col-6">
    <%= form_with url: "/search", method: :post do |form| %>
      <div class="row">
        <div class="col-8">
          <%= form.text_field :query, placeholder: "Enter city name", class: "form-control form-control-md" %>
        </div>
        <div class="col-4"><%= form.submit "Search", class: "btn btn-primary" %></div>
      </div>
    <% end %>
  </div>
  <div class="col"></div>
</div>


<h3>Search history</h3>
<%- @locations.each do |location| %>
  <%- if location.postcode %>
    <div>
      <%= link_to location.postcode, location %>
    </div>
  <%- else %>
    <div>
      <%= link_to location.city, location %>
    </div>
  <%- end %>
<% end %>