<!DOCTYPE html>
<html>
  <head>
    <title>Weather</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <nav class="navbar navbar-light bg-light">
      <div class="container-fluid">
        <a class="navbar-brand" href="/">Weather</a>
      </div>
    </nav>
      <% flash.each do |type, msg| %>
    <div class="row justify-content-center mt-4">
      <div class="w-50 alert alert-warning" role="alert">
        <%= msg %>
      </div>
    </div>
  <% end %>
    <div class="container mt-4">
      <%= yield %>
    </div>
  </body>
</html>
